<div class="container position-relative pt-30">
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center mb-3 border-bottom">
      <h1 class="h2">Welcome</h1>
      <div class="btn-toolbar mb-2 mb-md 0">
        
            <% if (locals.user) { %>
                <h5>You are logged in as <%= user %></h5>
            </br>
            <div class="btn-group me-2 ">
                <a href="/logout" class="btn btn-sm btn-outline-secondary">  Logout</a>
            <% } else { %>
                <a href="/login" class="btn btn-sm btn-outline-secondary">  Login</a>
            <% } %>
                
          <!-- <a href="/add" class="btn btn-sm btn-outline-secondary">Login</a> -->
        </div>
      </div>
    </div>
</div>
  
